<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/Theme.Tusan" android:label="کافی نت توسن" android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher">
        <activity android:name="com.google.androidbrowserhelper.trusted.LauncherActivity" android:exported="true" android:theme="@style/Theme.Tusan" android:screenOrientation="portrait">
            <meta-data android:name="android.support.customtabs.trusted.DEFAULT_URL" android:value="https://www.tusancn.ir/" />
            <meta-data android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR" android:resource="@color/tusan_primary" />
            <meta-data android:name="android.support.customtabs.trusted.NAVIGATION_BAR_COLOR" android:resource="@color/tusan_primary_dark" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.tusancn.ir" />
            </intent-filter>
        </activity>
    </application>
</manifest>
